@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}


/* Remove default outline */
.prompt:focus {
  outline: none;
}

/* For better accessibility, consider adding your own styles */
.prompt:focus-visible {
  outline: 2px solid #f00;
  /* Example of custom focus style */
}

.prompt button:focus {
  outline: none;
}

.prompt button:focus-visible {
  outline: 2px solid #f00;
  /* Example of custom focus style */
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #0b111f;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  margin: 100px auto;
  background-color: #d6d6cc;
  width: 100%;
  max-width: 80vw;
  min-height: 15vh;
  border-radius: 1rem;
  padding-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: 3s all height ease-in-out;
}

.title {
  width: 100%;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h2 {
  width: 70%;
  text-wrap: break-word;
  word-spacing: 4px;
  letter-spacing: -0.4px;
  font-family: "Syne";
}

.img{
  height: 90%;
  width:auto;
  background-color:white;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.title img {
  max-height: 150%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.prompt {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 0.5em 1em;
  border-radius: 1.5rem;
  cursor: pointer;
}

.prompt input {
  border: none;
  border-radius: 1em;
  background: transparent;
  width: 80%;
}

.prompt input:focus {
  border: none;
  outline: none;
}

.prompt input::placeholder {
  color: orangered;
}

.prompt button {
  border: none;
  border-radius: 1em;
  background: transparent;
  cursor: pointer;
  font-size: larger;
  color: orangered;
}

.response {
  width: 100%;
  font-size: medium;
  padding: 0.5em 1em;
  max-height: fit-content;
}

@media (max-width: 900px) {
  .copy {
    font-size: small;
  }
  .prompt{
    margin-top: 2rem;
  }
  .title h2{
    font-size: larger;
  }
  .title .img{
    height:150%;
  }
}

.copy {
  justify-content: flex-end;
  font-size: larger;
  width: 100%;
  color: orangered;
  cursor: pointer;
  align-items: center;
  gap: 0.5vw;
  display: none;
}